{% extends "base.html" %}


{% block style_content %}
    <link rel="stylesheet" href="/static/home.css">
    <!--Load a font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class = "features_input">
        <h2>Notes:</h2>
        <ul>
            <li>This is a work in progress, we're eventually going to have a cleaner input feature dropdown (so users don't have to scroll).</li>
            <br>
            <li>This prototype is also missing a lot of features/functionality.</li>
            <br>
            <li>The input form currently does not do useful backend processing</li>
            <br>
            <li>There's also a lot of empty space right now and styling doesnt adjust depending on the viewport (TODO)</li>
            <br>
        </ul>
        <hr>
        <i><p style="text-align:center;">Upload Project Data, adjust features, and get accurate time predictions</p></i>
        <h2>Input Data</h2>
        <form action="save">
            <div class="input_container">
                <label for="dist">Drive time (min):</label>
                <input type="number" id="dist" name="dist">
            </div>
        
            <div class="input_container">
                <label for="tilt">Tilt (degrees):</label>
                <input type="number" id="tilt" name="tilt">
            </div>
        
            <div class="input_container">
                <label for="azimuth">Azimuth (degrees):</label>
                <input type="number" id="azimuth" name="azimuth">
            </div>
        
            <div class="input_container">
                <label for="panel_qty">Panel Quantity:</label>
                <input type="number" id="panel_qty" name="panel_qty">
            </div>
        
            <div class="input_container">
                <label for="sys_rating">System Rating (kW DC):</label>
                <input type="number" id="sys_rating" name="sys_rating">
            </div>
        
            <div class="input_container">
                <label for="inv_manu">Inverter Manufacturer:</label>
                <input type="text" id="inv_manu" name="inv_manu">
            </div>
        
            <div class="input_container">
                <label for="array_type">Array Type:</label>
                <input type="text" id="array_type" name="array_type">
            </div>
        
            <div class="input_container">
                <label for="sqrl_screen">Squirrel Screen (Y/N):</label>
                <input type="text" id="sqrl_screen" name="sqrl_screen">
            </div>
        
            <div class="input_container">
                <label for="cons_monitor">Consumption Monitoring (Y/N):</label>
                <input type="text" id="cons_monitor" name="cons_monitor">
            </div>
        
            <div class="input_container">
                <label for="truss_rafter">Truss/Rafter:</label>
                <input type="text" id="truss_rafter" name="truss_rafter">
            </div>
        
            <div class="input_container">
                <label for="reinforcements">Reinforcements (Y/N):</label>
                <input type="text" id="reinforcements" name="reinforcements">
            </div>
        
            <div class="input_container">
                <label for="elec_inspec">Rough Electrical Inspection (Y/N):</label>
                <input type="text" id="elec_inspec" name="elec_inspec">
            </div>
        
            <div class="input_container">
                <label for="intercon_type">Interconnection Type:</label>
                <input type="text" id="intercon_type" name="intercon_type">
            </div>
        
            <div class="input_container">
                <label for="module_len">Module Length (unit):</label>
                <input type="number" id="module_len" name="module_len">
            </div>
        
            <div class="input_container">
                <label for="module_width">Module Width (unit):</label>
                <input type="number" id="module_width" name="module_width">
            </div>
        
            <div class="input_container">
                <label for="module_weight">Module Weight (unit):</label>
                <input type="number" id="module_weight" name="module_weight">
            </div>
        
            <div class="input_container">
                <label for="array_num">Number of Arrays:</label>
                <input type="number" id="array_num" name="array_num">
            </div>
        
            <div class="input_container">
                <label for="circuit_num">Number of Circuits:</label>
                <input type="number" id="circuit_num" name="circuit_num">
            </div>
        
            <div class="input_container">
                <label for="reinforcement_num">Number of Reinforcements:</label>
                <input type="number" id="reinforcement_num" name="reinforcement_num">
            </div>
        
            <div class="input_container">
                <label for="roof_type">Roof Type:</label>
                <input type="text" id="roof_type" name="roof_type">
            </div>
        
            <div class="input_container">
                <label for="attach_type">Attachment Type:</label>
                <input type="text" id="attach_type" name="attach_type">
            </div>
        
            <div class="input_container">
                <label for="story_num">Number of Stories:</label>
                <input type="number" id="story_num" name="story_num">
            </div>
        
            <div class="input_container">
                <label for="season">Install Season:</label>
                <input type="text" id="season" name="season">
            </div>
        
            <div class="input_container">
                <label for="est_salaried_empl">Estimated Number of Salaried Employees on Site:</label>
                <input type="number" id="est_salaried_empl" name="est_salaried_empl">
            </div>
        
            <div class="input_container">
                <label for="est_salary_hr">Estimated Salary Hours:</label>
                <input type="number" id="est_salary_hr" name="est_salary_hr">
            </div>
        
            <div class="input_container">
                <input type="submit" value="Save Data">
            </div>
        </form>

        <script>
            const inputs = document.querySelectorAll('input');

            inputs.forEach(input => {
                input.addEventListener('input', function() {
                    if (input.value.trim() !== '') {
                        input.style.border = '3px solid var(--color1)';
                    } else {
                        input.style.border = '3px solid red';
                    }
                });
            });
        </script>
        
    </div>
{% endblock %}