.features_input_form {
    padding:20px;
    max-width:600px;
}

.features_input {
    width:610px;
    padding-left:50px;
}

h2 {
    color: var(--color2);
    padding-top:20px;
    font-size:30px;
    text-align:center;
}

.input_container {
    /* input */
    max-width:500px;
    padding:10px;
    margin:auto;
    display:grid;
    grid-template-columns: 300px 100px;
    gap:100px;
    border-bottom:2px solid var(--color2);
}

.input_container > label {
    font-weight:bold;
    font-size:20px;
}

.input_container > input {
    float:right; 
    height:40px;
    font-size:30px;
    border:3px solid red;
}

.input_container > input[type="submit"] {
    float:none;
    margin:auto;
    width:250px;
    border:none;
    grid-column: span 2;
}