.features_input_form {
    padding:20px;
    width:500px;
}

.features_input {
    margin-left:20px;
    width:510px;
}
h2 {
    padding-top:20px;
    text-align:center;
}

.input_container {
    /* input */
    padding:10px;
    display:grid;
    grid-template-columns: 300px 100px;
    gap:100px;
    border-bottom:2px solid var(--color2);
}

.input_container > label {
    font-weight:bold;
    font-size:20px;
}

.input_container > input {
    float:right; 
    height:40px;
    font-size:30px;
}

.input_container > input[type="submit"] {
    float:none;
}