{% extends "base.html" %}

{% block content %}
{% include 'components/messages.html' with messages=messages %}
<h1>Welcome to Scheduling Solar</h1>
<p>The usage instructions will go here, with some supplemental images</p><br>
<!-- <img src="/static/images/logo.png" alt="Example Image" style="width:200px;"> -->

<h1 class="text-4xl font-bold">User Instructions</h1><br>
<h2><b>Get a time estimate:</b></h1>
<p>Select the "Input" tab. Type data into the corresponding box using the specified units, then click "Save Data." Navigate to the "Prediction" page.</p><br>
<h2><b>View or change saved data:</b></h1>
<p>Navigate to the "Search Data" tab. Locate the correct project (projects are listed in reverse chronological order), then select "View/Edit." Make the edits, then select "Save Data."</p><br>
<h2><b>To log in/log out:</b></h1>
<p>Log in by selecting the "Login" tab and entering credentials. Log out by selecting the "Logout" tab in the same location.</p><br>
<h2><b>Revisit instructions after navigating away:</b></h2>
<p>Select the Midwest Solar logo in the top left to return to the home page and revisit these instructions.</p><br>

<h1 class="text-4xl font-bold">Admin Instructions</h1><br>
<h2><b>Add or remove users:</b></h1>
<p>Navigate to the "Admin Portal" tab, then click on "Admin Portal" under "Access Controls."</p><br>
<h2><b>Model training page:</b></h1>
<p>Navigate to the "Admin Portal" tab, then select "Train Model."</p1><br><br>
<h2><b>Upload data file:</b></h2>
<p>Navigate to the "Admin Portal" tab, then select "Upload File."</p><br>
<h2><b>Change input page:</b></h2>
<p>Navigate to the "Admin Portal" tab, then select "Edit Input Field."</p><br>

{% endblock %}
