{% extends "base.html" %}

{% block content %}
{% include 'components/messages.html' with messages=messages %}
<h1>Welcome to Scheduling Solar</h1>
<p>The usage instructions will go here, with some supplemental images</p><br>

<h1>User Instructions</h1><br>
<h2>Get a time estimate:</h1>
<p>Select the "Input" tab. Type data into the corresponding box using the specified units, then click "Save Data." Navigate to the "Prediction" page.</p><br>
<h2>View or change saved data:</h1>
<p>Navigate to the "Search Data" tab. Locate the correct project (projects are listed in reverse chronological order), then select "View/Edit." Make the edits, then select "Save Data."</p><br><br>
<h2>To log in/log out:</h1>
<p>Log in by selecting the "Login" tab and entering credentials. Log out by selecting the "Logout" tab in the same location.</p><br>
<h2>Revisit instructions after navigating away:</h2>
<p>Select the Midwest Solar logo in the top left to return to the home page and revisit these instructions.</p><br>

<h1>Admin Instructions</h1><br>
<h2>Add or remove users:</h1>
<p>Navigate to the "Admin Portal", then click on "Admin Portal" under "Access Controls"</p>
<h2>Model training page:</h1>
<p>Navigate to the "Admin Portal" tab, then select </p1><br>
<h2>Upload data file:</h2>
<p></p><br>
<h2>Change input page:</h2>
<p></p><br>

{% endblock %}
